* {
	margin: 0;
	padding: 0;
}



.navbar {
	min-height: 60px;
	background-color: saddlebrown;
	color: yellow;
	display: flex;
}

.github {
	position: absolute;
	top: 0;
	right: 0;
}

.title {
	font-size: 30px;
	background: -webkit-linear-gradient(white, gold);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: auto auto auto 20px;
}

.explainer {
	border-style: solid;
	border-radius: 20px;
	border-color: saddlebrown;
	margin: 20px auto;
	padding: 20px;
	max-width: 600px;
}

.explainer-padding {
	padding: 20px 50px;
}

sup {
	font-size: 0.5em;
	color: gray;
}

blockquote {
	margin: 10px;
}

ol {
	margin: 10px 30px;
}

@media (max-width: 400px) {

	.github {
		display: none;
	}

	.explainer-padding {
		padding: 0 10px;
	}
}

.input-container {
	background-color: blue;
	border-radius: 20px;
	color: white;
	padding: 20px;
}

.flex {
	display: flex;
}

button {
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 10px auto;
	font-size: 20px;
	border-radius: 5px;
}

#input {
	width: 100%;
	height: 20px;
	margin: 10px 0;
}

.mid-section {
	background-color: white;
	margin: 20px auto;
	padding: 30px;
	max-width: 800px;
}

.hidden {
	display: none;
}

.bottom-banner {
	background-color: saddlebrown;
	height: 100px;
}